<form class="py-4">
    <div class="form-outline mb-4">
        <label class="form-label" for="user.email">Email</label>
        <input type="email" id="user.email" name="email" [(ngModel)]="user.email" class="form-control" />
        <div *ngIf="responseError?.errors" class="text-danger mt-2">
            {{ responseError?.errors.Email[0] }}
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="user.password">Password</label>
        <input type="password" id="user.password" name="password" [(ngModel)]="user.password" class="form-control" />
        <div *ngIf="responseError?.errors" class="text-danger mt-2">
            {{ responseError?.errors.Password[0] }}
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="user.address">Address</label>
        <input type="text" id="user.address" name="address" [(ngModel)]="user.address" class="form-control" />
        <div *ngIf="responseError?.errors" class="text-danger mt-2">
            {{ responseError?.errors.Address[0] }}
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="user.address" style="margin-right: 10px;">Role</label>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                {{ roleText(user.rol) }}
              </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="user.rol = 0">Admin</button>
                <button ngbDropdownItem (click)="user.rol = 1">Buyer</button>
                <button ngbDropdownItem (click)="user.rol = 2">Admin & Buyer</button>
            </div>
        </div>
    </div>

    <div *ngIf="responseError?.errorMessage" class="text-danger my-2">
        {{ responseError?.errorMessage }}
    </div>
    
    <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block mb-4">Sign up</button>
</form>
